.tracking-tighter {
  letter-spacing: -0.05em; // -2.5px
}

.tracking-tight {
  letter-spacing: -0.025em; // -1.25px
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.025em; // 1.25px
}

.tracking-wider {
  letter-spacing: 0.05em; // 2.5px
}

.tracking-widest {
  letter-spacing: 0.1em; // 5px
}
