$-ff-sans: system-ui, sans-serif;
$-ff-serif: serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  'small': (
    '10': 1rem,
    '12': 1.2rem,
    '14': 1.4rem,
    '16': 1.6rem,
    '18': 1.8rem,
    '20': 2rem,
    '22': 2.2rem,
    '24': 2.4rem,
    '26': 2.6rem,
    '28': 2.8rem,
    '30': 3rem,
    '32': 3.2rem,
    '34': 3.4rem,
    '36': 3.6rem,
    '38': 3.8rem,
    '40': 4rem,
    '42': 4.2rem,
    '44': 4.4rem,
    '46': 4.6rem,
    '48': 4.8rem,
    '50': 5rem,
    '52': 5.2rem,
    '54': 5.4rem,
    '56': 5.6rem,
    '58': 5.8rem,
    '60': 6rem,
  ),
  'large': (
    '10': 1rem,
    '12': 1.2rem,
    '14': 1.4rem,
    '16': 1.6rem,
    '18': 1.8rem,
    '20': 2rem,
    '22': 2.2rem,
    '24': 2.4rem,
    '26': 2.6rem,
    '28': 2.8rem,
    '30': 3rem,
    '32': 3.2rem,
    '34': 3.4rem,
    '36': 3.6rem,
    '38': 3.8rem,
    '40': 4rem,
    '42': 4.2rem,
    '44': 4.4rem,
    '46': 4.6rem,
    '48': 4.8rem,
    '50': 5rem,
    '52': 5.2rem,
    '54': 5.4rem,
    '56': 5.6rem,
    '58': 5.8rem,
    '60': 6rem,
  ),
);

$font-size-10: var(--fs-10);
$font-size-12: var(--fs-12);
$font-size-14: var(--fs-14);
$font-size-16: var(--fs-16);
$font-size-18: var(--fs-18);
$font-size-20: var(--fs-20);
$font-size-22: var(--fs-22);
$font-size-24: var(--fs-24);
$font-size-26: var(--fs-26);
$font-size-28: var(--fs-28);
$font-size-30: var(--fs-30);
$font-size-32: var(--fs-32);
$font-size-34: var(--fs-34);
$font-size-36: var(--fs-36);
$font-size-38: var(--fs-38);
$font-size-40: var(--fs-40);
$font-size-42: var(--fs-42);
$font-size-44: var(--fs-44);
$font-size-46: var(--fs-46);
$font-size-48: var(--fs-48);
$font-size-50: var(--fs-50);
$font-size-52: var(--fs-52);
$font-size-54: var(--fs-54);
$font-size-56: var(--fs-56);
$font-size-58: var(--fs-58);
$font-size-60: var(--fs-60);

$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-semi-bold: $-fw-500;
$font-weight-bold: $-fw-700;
